<div class="container">
  <h1 *ngIf="isAddMode"><b>Crear Miembro</b></h1>
  <h1 *ngIf="!isAddMode"><b>Editar Miembro</b></h1>
  <form [formGroup]="form" (ngSubmit)="handleSubmit($event)">

    <div class="form-group">
      <span><b>Nombre</b></span>
      <mat-form-field class="full-width" appearance="fill">
        <label for="name"></label>
        <input matInput type="text" placeholder="Nombre" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
        <div *ngIf="f.name.errors && f.name.touched" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">"Nombre" es un campo obligatorio.</div>
          <div *ngIf="f.name.errors.minlength">El nombre debe tener una longitud mínima de 4 caracteres.
          </div>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
        <span><b>Imagen </b></span>
        <label for="image"></label>
        <img *ngIf="!isAddMode" src="{{member?.image}}" alt="">
        <input #imageInput type="file" (change)="processImage(imageInput.files)" formControlName="image"
          accept="image/jpg, image/png">
        <div *ngIf="isSubmitted && f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors.required">Debe seleccionar una imagen.</div>
        </div>
    </div>

    <div class="form-group">
      <span><b>Descripción</b></span>
      <label for="description"></label>
      <ckeditor formControlName="description" [editor]="Editor" data="{{f.description.value}}">
      </ckeditor>
      <div *ngIf="isSubmitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">
          "Descripción" es un campo obligatorio.
        </div>
      </div>
    </div>

    <div class="form-group">
      <span><b>Facebook URL</b></span>
      <mat-form-field class="full-width" appearance="fill">
        <label for="facebookUrl"></label>
        <input matInput type="text" placeholder="Facebook URL" formControlName="facebookUrl" class="form-control"
          [ngClass]="{ 'is-invalid': f.facebookUrl.touched && f.facebookUrl.errors }" />
        <div *ngIf="f.facebookUrl.errors && f.facebookUrl.touched" class="invalid-feedback">
          <div *ngIf="f.facebookUrl.errors.required">"Facebook URL" es un campo obligatorio.</div>
          <div *ngIf="f.facebookUrl.errors?.pattern">La URL debe tener un formato válido. Ejemplo:
            https://www.facebook.com/username.</div>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <span><b>LinkedIn URL</b></span>
      <mat-form-field class="full-width" appearance="fill">
        <label for="linkedinUrl"></label>
        <input matInput type="text" placeholder="LinkedIn URL" formControlName="linkedinUrl" class="form-control"
          [ngClass]="{ 'is-invalid': f.linkedinUrl.touched && f.linkedinUrl.errors }" />
        <div *ngIf="f.linkedinUrl.errors && f.linkedinUrl.touched" class="invalid-feedback">
          <div *ngIf="f.linkedinUrl.errors.required">"LinkedIn URL" es un campo obligatorio.</div>
          <div *ngIf="f.linkedinUrl.errors.pattern">La URL debe tener un formato válido. Ejemplo:
            https://www.linkedin.com/in/username.</div>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button color="primary">
        Confirmar
      </button>
      <br>
      <a *ngIf="isAddMode" mat-raised-button color="warn" routerLink="../">
        Cancelar
      </a>
      <a *ngIf="!isAddMode" mat-raised-button color="warn" routerLink="../../">
        Cancelar
      </a>
    </div>
  </form>
</div>