<div class="container" *ngIf="isAdmin; else isStandard">    
    <table border="1">
        <button mat-raised-button color="primary" (click)="createN()" class="but">Crear</button>
        <thead>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let novedad of novedades">
                <td>
                    {{novedad.name}}
                </td>
                <td>
                    <div class="img">
                        <img [src]="novedad.image" alt="">
                    </div>
                </td>
                <td class="text-center">
                    {{novedad.created_at | date}}
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="editN(novedad.id||0)">Editar</button>
                    <button mat-raised-button color="warn" (click)="deleteN(novedad.id||0)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #isStandard>
    <p>Acceso no autorizado</p>
</ng-template>