.content-box {
	margin-bottom: 80px;
	padding: 20px 40px 0px 40px;
	h1 {
		font-size: 30px;
		margin-top: 15px;
	}
	h2 {
		font-size: 20px;
	}
	.shortDesc {
		width: 500px;
		font-size: 18;
	}
}
.button {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 20px;
	padding: 10px;
	font-weight: 600;
	background: #FF0000;
	color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
