
<form [formGroup]="formNovedades" (ngSubmit)="onSubmit()">

    <p>
        <label for="title">Título</label>
        <input type="text" id="title" formControlName="title">
    </p>

    <p>
        <label for="content">Contenido</label>
        <ckeditor [editor]="Editor" data="" id="content" formControlName="content"></ckeditor>
    </p>

    <p>
        <label for="category">Categoría</label>
        <input type="text" id="category" formControlName="category">
    </p>

    <p>
        <label for="image">Imagen</label>
        <input type="text" id="image" formControlName="image">
    </p>

    <p>
        <button type="submit" [disabled]="!formNovedades.valid">Enviar</button>
    </p>
    
</form>

