.container{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    display: flex;
    align-content: center;
}

h1{
    font-size: xx-large;
}

mat-icon{
    font-size: xx-large;
    margin-bottom: 1rem;
}

a{
    font-size: 20px;
    margin: auto;
    align-content: center;
}
