.container {
  min-height: 35vw;
  text-align: center;
  justify-items: center;
  margin-top: 10rem;
}

.row {
  flex-direction: row;
}

h1 {
  font-size: xx-large;
}

mat-icon {
  font-size: xx-large;
  margin-bottom: 1rem;
}

a {
  font-size: 20px;
}
