.container{
    display: flex;
    position: fixed;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: xx-large;
}

mat-icon{
    font-size: xx-large;
    margin-bottom: 1rem;
}