
.invalid-text {
	color: red;
}


.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.form {
	padding: 20px 20px 0px 20px;
	display: flex;
	flex-direction: column;
}

.submit-button {
	width: 300px;
	align-self: center;
}

.input, .ckeditor {
	width: 700px;
}
.input {
	outline: none;
	border: none;
	padding: 15px 10px;
	font-size: 16px;
	border: 1px solid #B0B0B0;
	border-radius: 8px;
}
input[type="file"] {
	display: none;
}
.file-input-label {
	width: 150px;
	text-align: center;
}

.button {
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 20px;
	padding: 10px;
	font-weight: 600;
	background: #FF0000;
	color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

h5, label{
	font-size: 18px;
	margin: 10px 0px 10px 0px;
}

.invalid-text {
	color: red;
}
