<div class="content">
    <h4 class="card-header">Agregar Testimonios</h4>
    <div class="card-body">
        <form novalidate [formGroup]="testimonialsForm" (ngSubmit)="handleSubmit($event)">
            <div class="form-group">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input  formControlName="name"  matInput type="text"  [ngClass]="{ 'is-invalid': isSubmitted && f.name.errors }" >
                    <button  matSuffix mat-icon-button aria-label="Clear" (click)="clean()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                <div *ngIf="f.name.errors && isSubmitted" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required" class="error" >"Nombre" es un campo obligatorio.</div>
                    <div *ngIf="f.name.errors.minlength" class="error">"Nombre" debe tener al menos 4 caracteres.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <ckeditor formControlName="description" [editor]="Editor" data="{{f.description.value}}">
                </ckeditor>
                <div *ngIf="isSubmitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">"Descripción" es un campo obligatorio.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="image"><span *ngIf="editMode">Cambiar </span>Imagen</label>
                <br>
                <input #imageInput
                       type="file"
                       (change)="processImage(imageInput.files)"
                       formControlName="image"
                       accept="image/jpg, image/png">
                <div *ngIf="isSubmitted && f.image.errors" class="invalid-feedback">
                    <div *ngIf="f.image.errors.required">Debe seleccionar una imagen</div>
                </div>
            </div>
            <img *ngIf="editMode" src="{{testimonial?.image}}" alt="">
            <div class="form-group" class="btn">
                <button  type="submit" mat-raised-button color="primary">Confirmar</button>
                <button  type="submit" mat-stroked-button color="primary" routerLink="/backoffice">Cancelar</button>
            </div>
        </form>
    </div>
</div>