p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    width: 100%;
    padding-top: 12px;
}

.new-card {
    border: 1px solid black;
    padding: 12px;
    width: 256px;
}

.fw-bold {
    font-weight: bold;
}
