<div class="container">
  <form [formGroup]="form">
  
        <div class="search">
            <b>Buscar categorias por titulo: </b>
          <div >
            <input type="text" formControlName="searchTerm" class="form-control"
            [(ngModel)]="searchTerm" (input)="searchCategoriesByValue(searchTerm)" />
            <button class="buttonSearch">Search</button> 
            <button routerLink="crear" class="buttonCrear">Crear Categoria</button> 
         
           
          </div>
        </div>
   
  </form>
  <table >
      <thead>
        <tr>
          <th >Nombre</th>
          <th >CreatedAt</th>
          <th >Editar</th>
          <th >Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{categoria.name}}</td>
          <td>{{categoria.created_at| date:'shortDate'}}</td>
          <td><button (click)="buscarCategoriaId(categoria.id)" class="buttonEdit">Editar</button></td>
          <td><button (click)="borrarCategoria(categoria.id)" class="buttonDelete">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
</div>
