.container{
  min-height: 35vw;
  text-align: center;
  justify-items: center;
  margin-top: 10rem;
}

.links {
  flex-direction: row;
}

a{
  margin-right: 1rem;
  font-size: x-large;
  font-weight: bold;
}

h1{
  font-size: xx-large;
}