<h1>{{ this.text }}</h1>
<div class="donate">
    <div class="links">
      <a href="https://mpago.la/1Ad8Ehy" target="_blank">
        <input type="submit" value="$5" />
      </a>
    </div>
    <div class="links">
        <a href="https://mpago.la/13TjwWv" target="_blank">
          <input type="submit" value="$10" />
        </a>
    </div>
    <div class="links">
        <a href="https://mpago.la/29vvRuD" target="_blank">
          <input type="submit" value="$50" />
        </a>
    </div>
    <div class="links">
        <a href="https://mpago.la/292oL6m" target="_blank">
          <input type="submit" value="$100" />
        </a>
    </div>
  </div>