<div class="container">
  <h1><b>{{ this.text }}</b></h1>
  <div class="links">
    <a mat-raised-button color="primary" href="https://mpago.la/1Ad8Ehy" target="_blank">
      $5
    </a>
    <a mat-raised-button color="primary" href="https://mpago.la/13TjwWv" target="_blank">
      $10
    </a>
    <a mat-raised-button color="primary" href="https://mpago.la/29vvRuD" target="_blank">
      $50
    </a>
    <a mat-raised-button color="primary" href="https://mpago.la/292oL6m" target="_blank">
      $100
    </a>
  </div>
</div>