<header>
    <img src="assets/logo.png" alt="img-logo" (click)="onHome()">
    <div class="left-header" *ngIf="router.url !==  '/auth/login' && router.url !== '/auth/registro'">
        <div class="links">
            <a [routerLink]="item.route" routerLinkActive="f-bold" *ngFor="let item of items">
                {{item.name}}
            </a>
        </div>
        <div class="btn-group" *ngIf="router.url ===  '/auth/login' || router.url === '/auth/registro'; else logged">
            <button class="btn-login" (click)="onLogin()">Log in</button>
            <button class="btn-register">Regístrate</button>
        </div>
        <ng-template #logged>
            <div class="btn-group">
                <button class="btn-register" (click)="close()">Cerrar sesión</button>
            </div>
        </ng-template>
    </div>
</header>