* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    height: 100%;
    box-sizing: content-box;
    .main {
        margin-top: 100px;
    }
    .footer {
	    margin-top: 300px;
	    bottom: 0px;
	    width: 100%;
    }
}
