.container {
  margin-left: 10rem;
  margin-top: 5rem;
}

.form {
  margin-top: 5rem;
  min-width: 15rem;
  max-width: 30rem;
  width: 100%;
}

.full-width {
  width: 100%;
}

textarea {
  height: 150px;
}

button,
a {
  margin-top: 0.7rem;
}
