<div>
    <a routerLink="/backoffice/members/create" routerLinkActive="active">Crear Nuevo Miembro</a>
</div>
<br>
<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row" style="display: flex;">
            <div class="search">
                <b>Buscar Miembros por nombre: </b>
                <input class="searchTerm" type="text" formControlName="searchTerm" class="form-control" 
                [(ngModel)]="searchTerm" (input)="searchMemberByValue(searchTerm)" />
            </div>
            <div class="form-group">
                <button>
                    Search
                </button>
            </div>
        </div>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>
                Miembros
            </th>
        </tr>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of this.members">
            <td><b>{{ member.name }}</b></td>
            <td><img src={{member.image}} /></td>
            <td><button class="btn-sm btn-info" (click)="editMember(member.id)">Editar</button>
            </td>
            <td><button class="btn-sm btn-danger" (click)="deleteMember(member.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>