{{loading$ | async}}

<table >
    <thead>
      <tr>
        <th >Nombre</th>
        <th >createdAt</th>
        <th >Editar</th>
        <th >Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
      
        <th >{{categoria.name}}</th>
        <td>{{categoria.created_at| date:'shortDate'}}</td>
        <td><button (click)="buscarCategoriaId(categoria.id)">Editar</button></td>
        <td><button (click)="borrarCategoria(categoria.id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

