p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    width: 250px;
    height: 250px;
    padding-top: 12px;

}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
}

.new-card {
    -webkit-box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.75);
    box-shadow: -11px 10px 30px -4px rgba(0,0,0,0.75);
 
    margin: 10px;
    border-radius: 10px;
}


.cart{
    margin: 10px;
}

.fw-bold {
    font-weight: bold;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


