.map {
    height: 50%;
    margin: 5rem;
    padding: 0;
}

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

mat-card{
    max-width: 35rem;
    position: center;
}