.map {
    height: 45rem;
    margin: 2rem;
    padding: 0;
}

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

h2{
    margin-left: 2rem;
}

mat-card{
    max-width: 35rem;
    position: center;
}