<div class="container">
    <div class="card">
        <h3>Novedades</h3>
        <img src="../../../../assets/news.png" alt="">
        <button routerLink="news/list">ir</button>
    </div>
    <div class="card">
        <h3>Actividades</h3>
        <img src="../../../../assets/activities.png" alt="">
        <button routerLink="actividades">ir</button>
    </div>
    <div class="card">
        <h3>Categorias</h3>
        <img src="../../../../assets/list.png" alt="">
        <button routerLink="categories">ir</button>
    </div>
    <div class="card">
        <h3>Testimonios</h3>
        <img src="../../../../assets/testimonials.png" alt="">
        <button routerLink="testimonio">ir</button>
    </div>
</div>
<div class="container">
    <div class="card">
        <h3>Organizacion</h3>
        <img src="../../../../assets/estructura-de-organizacion.png" alt="">
        <button routerLink="organization">ir</button>
    </div>
    <div class="card">
        <h3>Slides</h3>
        <img src="../../../../assets/flick-to-left.png" alt="">
        <button routerLink="../backoffice/slide">ir</button>
    </div>
    <div class="card">
        <h3>Usuarios</h3>
        <img src="../../../../assets/users-group.png" alt="">
        <button routerLink="user/list">ir</button>
    </div>
    <div class="card">
        <h3>Miembros</h3>
        <img src="../../../../assets/group.png" alt="">
        <button routerLink="members">ir</button>
    </div>
</div>

